.home {
    height: 100%;
}

.home__side-bar {
    width: 25%;
    height: 100%;
    position: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-top: 80px;
    padding-left: 30px;
}

.home__main {
    width: 75%;
    margin-left: 25%;
    height: 100%;
}

.search-videos-input {
    outline: none;
    border: 2px solid gray;
    padding: 0.8rem;
    width: 80%;
    border-radius: 10px;
    color: white;
    align-self: start;
    background-color: black;
}

.sidebar-nav-items {
    display: flex;
    gap: 7px;
    cursor: pointer;
}

.sidebar-nav-items p {
    display: inline;
}

.home__main_header {
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
    justify-content: space-around;
}

.home__main_profile {
    border-radius: 50%;
    height: 3rem;
    cursor: pointer;
}

.home__main__video__play {
    border-radius: 50%;
    height: 2.5rem;
    cursor: pointer;
}

.video-title-div {
    display: flex;
    flex-direction: column;
}

.video-uploaded-by {
    color: gray;
    font-size: 0.9rem;
}

.video-details {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.video-iframe {
    border: none;
}

.allvideos {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.video-views-date {
    color: gray;
    font-size: 0.9rem;
}

.video-views-date-div {
    display: flex;
    gap: 10px;
}

.video-thumbnail {
    width: 100%;
    object-fit: cover;
}

.video-div {
    cursor: pointer;
    width: 290px;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    max-width: 290px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}