.profile {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.uploadform {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.uploadform input {
    padding: 5px;
    outline: none;
    border: none;
    color: white;
    width: auto;
}

.upload-btn-div {
    display: flex;
    justify-content: center;
    width: 50%;
}

.upload-input {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    width: 100%;
    background-color: black;
}

.upload-input:focus {
    border-bottom: 2px solid white;
}

.profile-logout {
    position: absolute;
    top: -40px;
    right: 10px;
    cursor: pointer;
}