.profile {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.uploadform {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.uploadform input {
    padding: 5px;
    outline: none;
    border: none;
    color: white;
    width: auto;
}

.upload-btn-div {
    display: flex;
    justify-content: center;
    width: 50%;
}

.upload-input {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    width: 100%;
    background-color: #0F0F0F;
}

.upload-input:focus {
    border-bottom: 2px solid white;
}

.profile-logout {
    position: absolute;
    top: -40px;
    right: 10px;
    cursor: pointer;
}

.important-info {
    margin-top: 2rem;
    font-size: 1rem;
    color: rgb(226, 6, 6);
}

.paddingTop {
    padding-top: 120px;
}